{
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "plugins" : [
        "json",
        "html",
        "mocha"
    ],
    "env" : {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },

    "globals": {
        "ResourceLoader": true,
        "ActiveXObject": true,
        "require": true,
        "define": true,
        "console": true,
        "jQuery": true,
        "sap": true,
        "Q": true,
        "$": true,
        "_": true,
        "ace": true,
        "test": true,
        "constants": true,
        "QUnit": true
    },

    "rules": {
        "comma-dangle": [ 2, "never" ],
        "no-cond-assign": [ 1, "except-parens" ],
        "no-constant-condition": 2,
        "no-debugger": 2,
        "no-dupe-args" : 2,
        "no-dupe-keys": 2,
        "no-duplicate-case" : 2,
        "no-empty": [ 2, { "allowEmptyCatch": true } ],
        "no-empty-character-class": 1,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [ 1, "functions" ],
        "no-extra-semi": 1,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": [ 1, "skipComments": true ],
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 1,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 1,
        "no-unreachable": 1,
        "use-isnan": 2,
        "valid-typeof": 2,

        "block-scoped-var": 1,
        "curly": [ 1, "multi-line", "consistent" ],
        "dot-location": [ 1, "property" ],
        "dot-notation": 0,
        "eqeqeq": [ 1, "smart" ],
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-empty-function": 1,
        "no-empty-pattern": 2,
        "no-eval": 2,
        "no-extra-bind": 1,
        "no-extra-label": 1,
        "no-fallthrough": 1,
        "no-implied-eval": 2,
        "no-loop-func": 0,
        "no-multi-spaces": 0,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-redeclare": 1,
        "no-return-assign": [ 1, "except-parens" ],
        "no-self-assign": 1,
        "no-self-compare": 1,
        "no-sequences": 1,
        "no-throw-literal": 1,
        "no-unused-expressions": 0,
        "no-with": 2,

        "strict": [ 1, "safe" ],

        "init-declarations": [ 1, "always" ],
        "no-catch-shadow": 1,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-restricted-globals": 2,
        "no-shadow": 1,
        "no-shadow-restricted-names": 2,
        "no-undef": 1,
        "no-unused-vars": [ 1, { "vars": "local", "args": "after-used" } ],
        "no-use-before-define": 1,

        "callback-return": [ 1, [ "callback", "cb", "next" ] ],

        "array-bracket-spacing": [ 1, "always" ],
        "block-spacing": [ 1, "always" ],
        "brace-style": [ 1, "1tbs", { "allowSingleLine": true } ],
        "camelcase": 0,
        "comma-spacing": [ 1, { "before": false, "after": true } ],
        "eol-last": [ 1, "unix" ],
        "id-match": 0,
        "indent": [ 1, 4, {
            "FunctionDeclaration": { "parameters": "first" },
            "FunctionExpression": { "parameters": "first" },
            "CallExpression": { "arguments": "first" },
            "ArrayExpression": "first",
            "ObjectExpression": "first",
            "MemberExpression": 0
        } ],
        "key-spacing": [ 1, { "beforeColon": false, "afterColon": true } ],
        "keyword-spacing": [ 1, { "before": true, "after": false,
                           "overrides": { "else": { "after": true }, "try": { "after": true } } } ],
        "linebreak-style": [ 2, "unix" ],
        "max-depth": [ 1, 5 ],
        "max-len": [ 1, { "code": 150,
                          "ignoreUrls": true } ],
        "max-nested-callbacks": [ 1, 3 ],
        "max-params": [ 1, 15 ],
        "max-statements": [ 1, 40 ],
        "max-statements-per-line": [ 1, { "max": 2 } ],
        "new-cap": 0,
        "new-parens": 2,
        "no-mixed-spaces-and-tabs": 1,
        "no-trailing-spaces": 1,
        "no-underscore-dangle": 0,
        "object-curly-spacing": [ 1, "always" ],
        "one-var": 0,
        "one-var-declaration-per-line": 0,
        "quote-props" : [1, "as-needed", { "keywords": true, "unnecessary": false }],
        "quotes": [ 1, "single", { "avoidEscape": true, "allowTemplateLiterals": true } ],
        "semi": [ 1, "always" ],
        "semi-spacing": [ 1, { "before": false, "after": true } ],
        "space-before-function-paren": [ 1, "never" ],
        "space-in-parens": [ 1, "always", { "exceptions": [ "{}", "empty" ] } ],
        "space-infix-ops": 0,

        "mocha/no-exclusive-tests": 2
    }
}
